body {
  margin: 0;
  padding: 0;

  overflow: hidden; /* TODO: fix this... this is for the loader... */
}

.container {
  color: #f7f7f7;
  padding: 1em;
}

.sidebar {
  max-width: 500px;
  height: 100vh;

  background-color: #719fbd;
  background-image: linear-gradient(135deg, #719fbd 0%, #6f7192 100%);

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sidebar h2,
.center {
  text-align: center;
}

.move-up {
  margin-top: -0.7em;
}

.force-move-up {
  position: relative;
  top: -0.85em;
}

.data {
  font-family: monospace;
  display: block;
  white-space: pre;
  margin: 1em 0px;

  max-height: 380px;

  overflow-y: scroll;
}

/* Weather data styling */
.day {
  font-weight: 400;
}
.temperature {
  display: block;
}
.temperature-front span,
.precipitation,
.temperature {
  color: #beedff;
  position: relative;
  font-size: 2.5em;
  font-weight: 900;

  top: 0.2em;

  padding-left: 0.12em;
}

.low {
  color: #e1ffbe;
}

.data-block {
  display: flex;
}

.item {
  display: block;
  flex: 1;
}

.loader {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.buttons {
  display: flex;
}

.loader span {
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.5);
  background-color: #719fbd;
  background-image: linear-gradient(135deg, #719fbd 0%, #6f7192 100%);

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  color: #beedff;

  text-align: center;
}

.btn {
  display: block;
  width: 75px;

  padding: 5px 15px 5px 15px;
  margin: 15px;

  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #beedff;

  font-size: 0.65em;

  flex: 1;
}

.left {
  float: left;
}
.right {
  float: right;
}

.info {
  font-weight: 400;
  color: rgb(0, 225, 255);
}

.warning {
  font-weight: 400;
  color: rgb(255, 187, 0);
}

.force-bottom {
  position: absolute;
  margin: 0 auto;
  bottom: 15px;
}
