body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 1em;
}

.sidebar {
  max-width: 500px;
}

.sidebar h2 {
  text-align: center;
}

.data {
  font-family: monospace;
  display: block;
  white-space: pre;
  margin: 1em 0px;
}
